p{
    font-size: 50px;
    text-align: center;
}
a{
  text-decoration: none;
}
.b1{
    font-size: 24px;
    font-family: cursive;
    border: 5px double orange;
    border-top-left-radius:13px;
    border-top-right-radius:13px;
    border-bottom-left-radius:13px;
    border-bottom-right-radius:13px;
    padding: 10px;
    background-color: #fff;
}
.b1:hover{
    background-color: orange;
    text-transform: uppercase;
    cursor: pointer;
}

a{
  display: block;
  margin-bottom: 30px;
}






/* CSS button*/
.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}





/* CSS button tag a*/
.buttonClass {
    font-size:20px;
    font-family:Arial;
    width:130px;
    height:27px;
    border-width:1px;
    color:#333333;
    border-color:#ffaa22;
    font-weight:bold;
    border-top-left-radius:13px;
    border-top-right-radius:13px;
    border-bottom-left-radius:13px;
    border-bottom-right-radius:13px;
    box-shadow: 0px 1px 0px 0px #fff6af;
    text-shadow: 0px 1px 0px #ffee66;
    background:linear-gradient(#ffec64, #ffab23);
    padding: 10px;
    text-decoration: none;
    text-align: center;

  }
  
  .buttonClass:hover {
    background: linear-gradient(#ffab23, #ffec64);
    color: #fff;
  }
                